.message_area {
    width: 100%;
}

.message_box {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: #C0C0C0 5px 5px 2px;
    height: 274px;
    margin: 0 auto;
    margin-top: 2.5%;
    text-align: center;
    width: 410px;
}

.message {
    color: black;
    font-size: 22px;
    padding-bottom: 11%;
    padding-top: 22%;
    text-align: center;
}

.root {
    background-color: #0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    font-size: 10px;
    font-weight: bold;
    padding: 9px 14px;
    text-align: center;
}
