.message_area {
    width: 100%;
}

.message_box {
    width: 410px;
    height: 274px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2.5%;
    border-radius: 5px;
    box-shadow: #C0C0C0 5px 5px 2px;
    text-align: center;
}

.message {
    text-align: center;
    font-size: 22px;
    padding-top: 22%;
    padding-bottom: 11%;
    color: black;
}

.root {
    font-weight: bold;
    background-color: #0066FF;
    color: white;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    font-size: 2px;
    padding: 9px 14px;
}
