main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    width: 75%;
}

@media screen and (max-width: 768px) {
    main {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
}

.LeftContent {
    margin-left: 15px;
    margin-right: 40px;
    width: 520px;
}

@media screen and (max-width: 768px) {
    .LeftContent {
        margin: 0 auto;
    }
}

.shop_detail {
    width: 520px;
}

.title_area {
    align-items: center;
    display: flex;
    margin-top: 5%;
    position: relative;
}

.back_btn {
    width: 30px;
}

img {
    width: 100%;
}

.back_img {
    background-color: #ffffff;
    box-shadow: 3px 3px 3px#C0C0C0;
    border-radius: 5px 5px 5px 5px
}

.shop_title {
    font-size: 30px;
    margin-left: 10px;
}

.shop_img {
    margin-bottom: 5%;
    margin-top: 5%;
}

.tags {
    margin-top: 3%;
}

.detail {
    font-size: 15px;
    line-height: 1.5;
    margin-top: 6%;
}

.RightContent {
    border-radius: 5px 5px 5px 5px;
    background-color: #0066FF;
    height: 620px;
    margin-left: 40px;
    margin-right: 15px;
    position: relative;
    top: -50px;
    width: 520px;
}

@media screen and (max-width: 768px) {
    .RightContent {
        margin: 0 auto;
        position: relative;
        top: 0;
    }
}

.reserve_area {
    width: 520px;
    margin-top: 5%;
}

.title_reserve {
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 5%;
    margin-left: 5%;

}

@media screen and (max-width: 768px) {
    .title_reserve {
        padding-top: 15px;
    }
}

.reserve_day {
    margin-bottom: 2%;
    margin-left: 5%;
    width: 30%;
}

input {
    border: none;
    border-radius: 5px 5px 5px 5px;
    font: -webkit-small-control;
    padding: 5px;
    width: 100%;
}

.reserve_time {
    margin-bottom: 2%;
    margin-left: 5%;
    width: 80%;
}

.reserve_number {
    margin-bottom: 2%;
    margin-left: 5%;
    width: 80%;
}

select {
    appearance: none;
    background-image: url(../../img/三角矢印のアイコン素材\ 下\ \(1\).png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    border-right: 0.5px solid rgba(218, 218, 218, 1);
    outline: none;
    padding: 5px;
    width: 440px;
}

.check {
    background-color: #4e88ed;
    height: 25%;
    margin-left: 5%;
    width: 75%;
}

.detail__reserve-box {
    padding: 15px;
    margin-bottom: 5%;
}

table {
    border-collapse: separate;
    border-spacing: 25px 5px;
    color: #ffffff;
}

th {
    font-weight: normal;
    text-align: left;
}

.reserve__btn {
    background: #2018ff;
    bottom: 0;
    border: 2px solid #2018ff;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 12pt;
    line-height: 1em;
    margin-top: auto;
    padding: 20px;
    position: absolute;
    text-align: center;
    transition: .3s;
    width: 520px;
}

.reserve__btn:hover {
    background: #ffffff;
    box-shadow: none;
    color: #000066;
}

.error_p {
    color: red;
    margin-top: 5px;
    width: 300px;
}

span {
    font-size: 15px;
}

.reveiw_button {
    background: #0066FF;
    border: 2px solid #0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 8px 14px;
    text-align: center;
    transition: .3s;
    position: absolute;
    top: 0;
    right: 0;
    width: 95px;
}

.reveiw_button:hover {
    background: #ffffff;
    color: #0066FF;
}

.review_area {
    position: absolute;
    left: 245px;
}

.shop_review {
    font-size: 20px;
}

.shop_com {
    font-size: 20px;
}

.average-score {
    display: flex;
    justify-content: center;
}

.star5_rating {
    position: relative;
    z-index: 0;
    display: inline-block;
    white-space: nowrap;
    color: #CCCCCC;
}

.star5_rating:before,
.star5_rating:after {
    content: '★★★★★';
}

.star5_rating:after {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    color: #ffcf32;
}

.star5_rating[data-rate="5"]:after {
    width: 100%;
}


.star5_rating[data-rate="4.5"]:after {
    width: 90%;
}

.star5_rating[data-rate="4"]:after {
    width: 80%;
}

.star5_rating[data-rate="3.5"]:after {
    width: 70%;
}

.star5_rating[data-rate="3"]:after {
    width: 60%;
}

.star5_rating[data-rate="2.5"]:after {
    width: 50%;
}

.star5_rating[data-rate="2"]:after {
    width: 40%;
}

.star5_rating[data-rate="1.5"]:after {
    width: 30%;
}

.star5_rating[data-rate="1"]:after {
    width: 20%;
}

.star5_rating[data-rate="0.5"]:after {
    width: 10%;
}

.star5_rating[data-rate="0"]:after {
    width: 0%;
}
