body {
    height: 100vh;
}

.content_area {
    height: 80%;
    position: relative;
    z-index: -50;
}

.box {
    display: flex;
    height: 10%;
}

h1 {
    font-size: 30px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: blue;
    font-size: 30px;
}

.nav {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: -100%;
    background: #eee;
    transition: .7s;
    text-align: center;
}

.nav ul {
    padding-top: 200px;
}

.nav ul li {
    list-style-type: none;
    margin-top: 30px;
}

.menu {
    display: inline-block;
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    left: 20px;
    margin-left: 5%;
    margin-top: 15px;
    border-radius: 5px;
    background-color: blue;
    box-shadow: 2px 2px 1px #C0C0C0;
}

.menu__line--top,
.menu__line--middle,
.menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 0.5px;
    background-color: white;
    position: absolute;
    transition: 0.5s;
    margin-left: 8px;
}

.menu__line--top {
    width: 30%;
    margin-top: 5px;
}

.menu__line--middle {
    top: 14px;
    width: 50%;
}

.menu__line--bottom {
    width: 17%;
    top: 22px;

}

.menu.open span:nth-of-type(1) {
    top: 10px;
    transform: rotate(45deg);
    width: 50%;
}

.menu.open span:nth-of-type(2) {
    opacity: 0;
}

.menu.open span:nth-of-type(3) {
    top: 15px;
    transform: rotate(-45deg);
    width: 50%;
}

.in {
    transform: translateX(100%);
}

.title {
    font-size: 15px;
    color: blue;
    margin-left: 5%;

}

.content {
    width: 25%;
    height: 260px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: #C0C0C0 3px 3px 1px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -10;
}

.content_blue {
    height: 20%;
    background-color: blue;
    margin-bottom: 5%;
    border-radius: 5px 5px 0 0;

}

.content_title {
    color: white;
    font-size: 20px;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 5%;
}

table {
    width: 100%;
    height: 140px;
}

.button_area {
    width: 70px;

}