.content_area {
    width: 100%;
    position: relative;
}

.content {
    width: 366px;
    height: 210px;
    background-color: white;
    border-radius: 5px;
    box-shadow: #C0C0C0 5px 5px 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 54%);
}

.content_blue {
    height: 55px;
    background-color: #0066FF;
    border-radius: 5px 5px 0 0;
}

.content_title {
    color: white;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 20px;
}


.form_area {
    height: 51%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon_email,
.icon_password {
    margin-left: 28px;
}

.icon_email {
    margin-top: 3px;
}

input {
    width: 81%;
    border: none;
    border-bottom: solid 1px;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 2px;
}

img {
    width: 23px;
    margin-right: 3px;
    margin-bottom: -2%;
}

.button_area {
    margin-top: 3px;
    margin-left: 73%;
}

.button {
    display: inline-block;
    width: 75px;
    height: 28px;
    border-radius: 5px 5px 5px 5px;
    font-size: 11px;
    cursor: pointer;
    text-align: center;
    background: #0066FF;
    color: white;
    line-height: 1em;
    border: 2px solid #0066FF;
}

p {
    color: red;
    margin-top: 3px;
}