.content_area {
    position: relative;
    width: 100%;
}

.content {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: #C0C0C0 5px 5px 2px;
    height: 210px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, 54%);
    width: 366px;
}

.content_blue {
    background-color: #0066FF;
    border-radius: 5px 5px 0 0;
    height: 55px;
}

.content_title {
    color: #ffffff;
    font-size: 15px;
    margin-left: 5%;
    margin-top: 0;
    padding-top: 20px;
}

.form_area {
    display: flex;
    flex-direction: column;
    height: 51%;
    justify-content: space-evenly;
}

.icon_email,
.icon_password {
    margin-left: 28px;
}

.icon_email {
    margin-top: 3px;
}

input {
    border: none;
    border-bottom: solid 1px;
    font-size: 14px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 81%;
}

img {
    margin-bottom: -2%;
    margin-right: 3px;
    width: 23px;
}

.button_area {
    margin-left: 73%;
    margin-top: 3px;
}

.button {
    background: #0066FF;
    border: 2px solid #0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    height: 28px;
    line-height: 1em;
    text-align: center;
    width: 75px;
}

p {
    color: red;
    margin-top: 3px;
}
