body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    /**後で高さを修正する*/
    min-height: 100vh;
    margin: 5px 0 30px 0;
}

.LeftContent {
    flex: 0.9;
    background-color: #90ee90;
    margin-right: 15px;
    margin-left: 5%;
}

.RightContent {
    flex: 1.1;
    margin-right: 5%;
    margin-left: 15px;
}

h2 {
    font-size: 25px;
    width: 49%;
    height: 35px;
    margin-left: 51%;
    margin-top: 15px;

}

h3 {
    font-size: 23px;
    margin-top: 5%;
    margin-bottom: 25px;
    margin-left: 50px;
}

.reserve_box {
    width: 410px;
    height: 250px;
    background-color: #0066FF;
    margin-left: 110px;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: #C0C0C0 5px 5px 5px;
}



.time_icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    margin-top: 15px;
    filter: invert(88%) sepia(61%) saturate(0%) hue-rotate(229deg) brightness(135%) contrast(101%);

}

.favorit_area {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.favorite_box {
    border: 1px solid #bbb;
    ;
    border-radius: 5px 5px 5px 5px;
    box-shadow: #C0C0C0 5px 5px 5px;
    height: 260px;
    margin-left: 50px;
    margin-bottom: 20px;
    width: 270px;
}

.shop_img {
    height: 55%;
}

img {
    border-radius: 3px;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.shop_title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}


.shop_text {
    margin-left: 15px;

}

.shop_tag {
    margin-bottom: 15px;
    font-size: 13px;
}

.shop_detail {
    display: inline-block;
}

.detail_button {
    background: #6666ff;
    border: 2px solid #6666ff;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
    padding: 7px 14px;
    text-align: center;
    transition: .3s;
}

.detail_button:hover {
    background: #ffffff;
    color: #6666ff;
}

.shop_favorite {
    height: 50px;
    margin-top: -34px;
    margin-left: 210px;
    width: 50px;
}

.favorite_button {
    border: none;
}

.img_favorite {
    filter: opacity(50%);
}

.img_favorite_on {
    filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

.test {
    padding-top: 15px;
    margin-left: 45px;
    color: #ffffff;
}

.test::before {
    content: "";
    width: 32px;
    height: 31px;
    background: url(../../img/時計の無料アイコン.png) no-repeat 100%;
    background-color: #ffffff;
    border-radius: 65%;
    display: inline-block;
    position: relative;
    top: 8px;
    left: -15px;
}

.cansel_icon {
    filter: brightness(1) invert(0);
    position: relative;
    top: -27px;
    left: 345px;
}

table {
    border-spacing: 40px 15px;
    border-collapse: separate;
    color: white;
}

th {
    text-align: left;
    font-weight: normal;
}