main {
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    width: 85%;
}

@media screen and (max-width: 768px) {
    main {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
}

.LeftContent {
    margin-right: 15px;
}

@media screen and (min-width: 769px) {
    .left_name {
        display: none;
    }
}

h2 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
    h2 {
        margin-bottom: 15px;
    }
}

.h3_left {
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 85px;
    width: 405px;
}

@media screen and (max-width: 768px) {
    .h3_left {
        margin-top: 25px;
    }
}

.reserve_box {
    background-color: #0066FF;
    border: none;
    border-radius: 5px 5px 5px 5px;
    box-shadow: #C0C0C0 5px 5px 5px;
    height: 250px;
    margin-bottom: 15px;
    margin-right: 20px;
    width: 405px;
}

@media screen and (max-width: 768px) {
    .reserve_box {
        margin: 0 auto;
        margin-bottom: 15px;
    }
}

.reserve_title {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: lighter;
    margin-left: 57px;
    padding-top: 20px;
}

.reserve_title::before {
    background-size: contain;
    background-color: #ffffff;
    background-image: url(../../img/時計の無料アイコン.png);
    border-radius: 65%;
    content: "";
    display: inline-block;
    height: 25px;
    left: -29px;
    position: relative;
    top: 6px;
    width: 25px;
}

.form_cansel {
    height: 15px;
}

.cansel_icon {
    width: 23px;
    filter: brightness(1) invert(0);
    position: relative;
    top: -20px;
    left: 355px;
}

table {
    border-collapse: separate;
    border-spacing: 30px 23px;
    color: #ffffff;
    font-size: 14px;
}

th {
    font-weight: normal;
    text-align: left;
}

.right_name {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .right_name {
        display: none;
    }
}

.h3_right {
    font-size: 22px;
    margin-bottom: 25px;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .h3_right {
        margin-top: 25px;
    }
}

.favorit_area {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
    .favorit_area {
        flex-direction: column;
    }
}

.favorite_box {
    background: #ffffff;
    border: 1px solid #bbb;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #C0C0C0;
    height: 259px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 30px;
    width: 272px;
}

.shop_img {
    height: 55%;
}

img {
    border-radius: 5px 5px 0 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.shop_text {
    margin-left: 15px;
}

.shop_title {
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.shop_tag {
    font-size: 13px;
    margin-bottom: 15px;
}

.shop_detail {
    display: inline-block;
}

.detail_button {
    background: #0066FF;
    border: 2px solid #0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    line-height: 1em;
    padding: 7px 14px;
    text-align: center;
    transition: .3s;
}

.detail_button:hover {
    background: #ffffff;
    color: #0066FF;
}

.shop_favorite {
    height: 50px;
    margin-left: 210px;
    margin-top: -34px;
    width: 50px;
}

.favorite_button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.img_favorite {
    filter: opacity(50%);
}

.img_favorite_on {
    filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}
