.content_area{
    position: relative;
}

.content {
    width: 362px;
    height: 250px;
    background-color:white;
    border-radius: 5px;
    box-shadow: #C0C0C0 3px 3px 1px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 46%);
}

.content_blue {
    height: 57px;
    background-color: #0066FF;
    border-radius: 5px 5px 0 0;
    margin-bottom: 5px;
}

.content_title {
    color: white;
    font-weight: 500;
    margin-left: 17px;
    padding-top: 20px;
}

.form_area {
    height: 56%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon_user,
.icon_email,
.icon_password {
    margin-left: 28px;
}

input {
    width: 82%;
    border: none;
    border-bottom: solid 1px;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 2px;
}

img {
    width: 23px;
    margin-right: 3px;
    margin-bottom: -2%;
}

.button_area {
    width: 65px;
    height: 25px;
    margin-left: 79%;
    margin-top: 3px;
}

.button {
    display: inline-block;
    border-radius: 5px 5px 5px 5px;
    font-size: 75%;
    cursor: pointer;
    text-align: center;
    padding: 7px 0px;
    background: #6666ff;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #6666ff;
}


p {
    color: red;
    text-align: center;
}
