.content_area {
    position: relative;
}

.content {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: #C0C0C0 5px 5px 2px;
    height: 250px;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 46%);
    width: 362px;
}

.content_blue {
    background-color: #0066FF;
    border-radius: 5px 5px 0 0;
    height: 54px;
    margin-bottom: 5px;
}

.content_title {
    color: #ffffff;
    font-weight: 500;
    margin-left: 17px;
    padding-top: 20px;
}

.form_area {
    display: flex;
    flex-direction: column;
    height: 56%;
    justify-content: space-evenly;
}

.icon_user,
.icon_email,
.icon_password {
    margin-left: 28px;
}

input {
    border: none;
    border-bottom: solid 1px;
    font-size: 14px;
    margin-bottom: 2px;
    vertical-align: middle;
    width: 82%;
}

img {
    margin-bottom: -2%;
    margin-right: 3px;
    width: 23px;
}

.button_area {
    margin-left: 79%;
    margin-top: 3px;
    height: 25px;
    width: 65px;
}

.button {
    background: #0066FF;
    border: 2px solid#0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 75%;
    line-height: 1em;
    padding: 7px 0px;
    text-align: center;
    transition: .3s;
}

p {
    color: red;
    text-align: center;
}
