.title_reserve {
    color: #0066FF;
}

.review_card {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5%;
    margin-left: 20px;
    height: 175px;
    width: 530px;
}

.review_shop {
    border-bottom: 2px solid black;
    height: 25px;
    width: 100%;
}

.review_name {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.review_title {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 150px;
}

.history {
    position: absolute;
    top: 5px;
    left: 200px;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 5px;
    left: 400px;
}

.star {
    color: #ffcf32;
    display: inline-block;
    position: absolute;
    left: 35px;
}

.text {
    border-bottom: 2px solid black;
}

.text_com {
    border: none;
    margin-left: 15px;
    margin-top: 35px;
    font-family: serif;
    font-size: 20px;
    height: 100px;
    resize: none;
    width: 98%;
}

.user_name {
    margin-left: 15px;
    margin-top: 10px;
}
