.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 10%;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 27px;
    justify-content: space-between;
    width: 75%;
}

@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
        width: 90%;
    }
}

.box {
    align-items: center;
    display: flex;
    margin-left: 3px;
}

.search_box {
    display: flex;
}

.search_area {
    box-shadow: #C0C0C0 0px 3px 1px;
    border-radius: 5px 0 0 5px;
    position: relative;
}

.search_area::before {
    background: #ffffff;
    content: "";
    display: inline-block;
    height: 10px;
    position: absolute;
    width: 170px;
}

.search_area::after {
    background: #ffffff;
    content: "";
    display: inline-block;
    height: 13px;
    left: 3px;
    position: absolute;
    top: 74%;
    width: 170px;
}

.search_genre {
    box-shadow: #C0C0C0 0px 3px 1px;
}

select {
    appearance: none;
    background-blend-mode: lighten;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(../../img/三角矢印のアイコン素材\ 下.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border: none;
    border-radius: 5px 0 0 5px;
    border-right: 0.5px solid rgba(218, 218, 218, 1);
    height: 50px;
    outline: none;
    padding: 5px;
    width: 85px;
}

.search_word-area {
    box-shadow: #C0C0C0 0px 3px 1px;
}

.search_icon {
    position: relative;
}

.search_icon::before {
    background: url(../../img/検索アイコン.png)no-repeat center center / auto 100%;
    background-color: #ffffff;
    content: "";
    display: inline-block;
    height: 16px;
    left: 7px;
    position: absolute;
    top: 18px;
    width: 16px;
}

.search_word {
    border: none;
    border-radius: 0 5px 5px 0;
    height: 27px;
    outline: none;
    padding: 13px 0 10px 2em;
    width: 350px;
}

@media screen and (max-width: 768px) {
    .search_word {
        border: none;
        border-radius: 0 5px 5px 0;
        height: 27px;
        padding: 13px 0 10px 2em;
        outline: none;
        width: 85px;
    }
}

.search_btn {
    display: none;
}

.shop_all {
    align-content: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 85%;
    justify-content: space-around;
    margin: 0 auto 0;
    margin-top: 38px;
    width: 75%;
}

.shop_card {
    background: #ffffff;
    border: 1px solid #bbb;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 5px 5px 5px #C0C0C0;
    height: 259px;
    margin-bottom: 15px;
    width: 272px;
}

.shop_img {
    height: 55%;
}

img {
    border-radius: 5px 5px 0 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.shop_text {
    height: 40%;
    margin-left: 15px;
}

.shop_title {
    font-size: 20px;
    margin-bottom: 3px;
    margin-top: 15px;
}

.shop_tag {
    margin-bottom: 10px;
}

span {
    font-size: 10px;
}

.shop_detail {
    display: flex;

}

.detail_button {
    background: #0066FF;
    border: 2px solid #0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 8px 14px;
    text-align: center;
    transition: .3s;
}

.detail_button:hover {
    background: #ffffff;
    color: #0066FF;
}

.shop_favorite {
    height: 50px;
    margin-left: 200px;
    margin-top: -35px;
    width: 50px;
}

.img_favorite {
    filter: opacity(50%);
}

.img_favorite_on {
    filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}

.favorite_button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.reveiw_button {
    background: #0066FF;
    border: 2px solid #0066FF;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 8px 14px;
    text-align: center;
    transition: .3s;
}

.detail {
    margin-right: 5%;
}