.shop_all {
    width: 90%;
    height: 85%;
    margin: 0 auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-around;
    align-items: center;
}

.shop_card {
    width: 315px;
    height: 255px;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    margin-bottom: 10px;
}

.shop_img {
    height: 55%;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    object-fit: cover;
}

.shop_title {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.shop_text {
    margin-left: 15px;
    height: 40%;
}

.shop_tag {
    margin-bottom: 5px;
}

.shop_detail {
    display: inline-block;
}

.detail_button {
    display: inline-block;
    border-radius: 10%;
    font-size: 10pt;
    text-align: center;
    cursor: pointer;
    padding: 8px 17px;
    background: #6666ff;
    color: #ffffff;
    line-height: 1em;
    transition: .3s;
    border: 2px solid #6666ff;
}

.detail_button:hover {
    color: #6666ff;
    background: #ffffff;
}

.shop_favorite {
    width: 50px;
    height: 50px;
    margin-top: -40px;
    margin-left: 220px;
}

.favorite_button{
    border: none;
}

.img_favorite {
    filter: opacity(50%);
}

.img_favorite_on {
    filter: invert(15%) sepia(95%) saturate(6932%) hue-rotate(358deg) brightness(95%) contrast(112%);
}
