.review_btn {
    background: #0066FF;
    border: 2px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 8px 14px;
    text-align: center;
    transition: .3s;
    position: relative;
    top: -25px;
    left: 305px;
}

.review_btn:hover {
    background: #ffffff;
    color: #0066FF;
}

.review_fin {
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    color: #0066FF;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 8px 14px;
    text-align: center;
    transition: .3s;
    position: relative;
    top: -25px;
    left: 305px;
}

.review_card {
    background-color: #ffffff;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 5%;
    margin-left: 20px;
    height: 175px;
    width: 530px;
}

.review_shop {
    border-bottom: 2px solid black;
    height: 25px;
    width: 100%;
}

.review_name {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.review_title {
    margin-left: 5%;
    margin-top: 6px;
}

.history {
    position: absolute;
    top: 5px;
    left: 200px;
}

.review {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: absolute;
    top: 5px;
    left: 400px;
}

.star {
    color: #ffcf32;
    display: inline-block;
}

.text {
    border-bottom: 2px solid black;
}

.text_com {
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    font-family: serif;
    font-size: 20px;
    height: 100px;
    resize: none;
    width: 98%;
}

.form_edit {
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-bottom: 5px;
    margin-top: 5px;
    height: 25px;
}

.edit_btn {
    background: #0066FF;
    border: 2px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 7px 14px;
    text-align: center;
    transition: .3s;
    margin-right: 20px;
    height: 29px;
}

.edit_btn:hover {
    background: #eee;
    color: #0066FF;
}

.delete_btn {
    background: #0066FF;
    border: 2px solid #ffffff;
    border-radius: 5px 5px 5px 5px;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 9pt;
    line-height: 1em;
    padding: 7px 14px;
    text-align: center;
    transition: .3s;
    margin-right: 20px;
    height: 29px;
}

.delete_btn:hover {
    background: #eee;
    color: #0066FF;
}
