.review_card {
    width: 600px;
    height: 160px;
    border: 2px solid black;
    border-radius: 5px 5px 5px 5px;
    margin-left: 20px;
    background-color: #ffffff;;
    margin-bottom: 5%;
}

.review_shop {
    border-bottom: 2px solid black;
    width: 100%;
}

.review_title {
    margin-top: 5px;
    margin-left: 5%;
    margin-bottom: 5px;
}

p {
    font-size: 15px;
    resize: none;
    font-family: serif;
    height: 100px;
    width: 98%;
    border: none;
    margin-top: 5px;
    margin-left: 5px;
}
